 div#container {
    display: flex;
    justify-content: center;
/*     align-items: center; */
    height: 120%;
    width: 100vw;
}


body {
    padding: 5vh 0 5vh 0;
    margin: 0 auto 0 auto;
    background-color: #F3F3F3;
/*     height: 90vh; */
}

h1{
    font-size: 40px;
    font-weight: bold;
    color:black;
}

table {
    width: 600px;
}

html{
    height:120%;
    width:100vw;
}

button {
    position: relative;
    left: 50px;
    top: 20vh;
    height:40px;
    width:80px;
}